.data-container {
    padding: 10px;
    h1 {
        color: white;
        text-align: center;
    }
}

.house-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #1f1f1f;
    padding-top: 50px;
    img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
        border: 10px;
    }

}

.card {
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: white;
    img {
        width: 150px;
        height: 200px; 
        object-fit:cover;
        border-radius: 8px;
        border: 1px solid #ddd;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        background-color: #fff;
    }
    h2 {
        font-size: 17px;
        color: #f39b1f;
    }
}

.card img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

@media only screen and (max-width: 760px) {

    .data-container {
        h1 {
            font-size: 15px;
        }
    }

    .house-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
    .card {
        img {
            width: 70px;
            height: 90px;
        }
        h2 {
            font-size: 12px;
        }
    }
}