.army-outter {
    padding: 10px;
    h1 {
        color: rgb(0, 0, 0);
        text-align: center;
    }
}

.army-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    gap: 20px;
    border: solid #d4af37 5px;
    background-color: #1f1f1f;
    height: 100vh;
    li {
        text-decoration: none;
    }
    img {
        width: 100%;
        height: auto;
        border: 10px;
    }
}

.army-display {
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.army-list {
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 50px;
    list-style: none;
    width: 150px;
    img {
        width: 150px;
        height: 200px; 
        object-fit:cover;
        border-radius: 8px;
        border: 1px solid #ddd;
        overflow: hidden;
        border: 3px solid #000000;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        background-color: #fff;
    }
    p {
        color: #c48123;
    } 
    button {
        font-size: 15px;
        background-color: black;
        color: white;
        font-weight: bolder;
        cursor: pointer;
    }
}

.army-list button:hover {
    background-color: white;
    color: black;
}

ul li::marker {
    text-decoration: none;
    color: #1f1f1f;
}

.empty-message {
    text-align: center;
    font-size: 40px;
    height: 100vh;
}

.outter-chal {
    display: flex;
    flex-direction: column;
    h2 {
        text-align: center;
        color: white;
    }
    h3 {
        text-align: center;
        color: white;
    }
}

.challenge-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.challenger-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    img {
        width: 150px;
        height: 200px; 
        object-fit:cover;
        border-radius: 8px;
        border: 1px solid #ddd;
        overflow: hidden;
        border: 3px solid #000000;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        background-color: #fff;
    }
    p {
        color: white;
    }
    button {
        font-size: 15px;
        background-color: black;
        color: white;
        font-weight: bolder;
        cursor: pointer;
    }
}

.font-selector {
    button {
        background-color: #a62d2d;
        color: rgb(255, 255, 255);
        border: 2px solid #f1c40f;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
    }
}

.hint-btn {
    background-color: #f1c40f;
    color: #060505;
    border: 2px solid #a62d2d;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

@media only screen and (max-width: 1131px) {
    .army-list {
        img {
            width: 100px;
            height: 100px;
        }
    }

    .challenge-container {
        img {
            width: 100px;
            height: 100px;
        }
    }
}


@media only screen and (max-width: 846px) {

    .army-outter {
        padding: 0;
        width: 100%;
        h1 {
            font-size: 15px;
        }
    }

    .army-cont {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        padding-left: 0;
    }

    .army-list {
        padding: 0;
        img {
            width: 70px;
            height: 90px;
        }
        p {
            font-size: 14px;
        }
        button {
            font-size: 12px;
            font-weight: bold;
        }
    }

    .outter-chal {
        h2 {
            font-size: 15px;
        }
        h3 {
            font-size: 14px;
            margin: 0;
        }
    }

    .challenger-card {
        padding: 2px;
        border: 0;
        img {
            width: 70px;
            height: 90px;
        }
        p {
            font-size: 14px;
        }
        button {
            font-size: 12px;
            font-weight: bold;
        }
    }

    .empty-message {
        font-size: 25px;
    }

    .hint {
        font-size: 15px;
    }

    .hint-btn {
        font-size: 11px;
    }
}