.char-container {
    background-color: #C0C0C0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.char-card {
    background: linear-gradient(175deg, #000000 65%, #FFD700 70%);
    border: 5px solid #dab333;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.char-pro {
    position: relative;
    margin-top: 50px;
    img {
        width: 280px;
        height: 320px;
        border-radius: 20%;
        border: 3px solid #FFD700;
    }
    h1 {
        font-size: 2rem;
        margin: 10px 0;
        color: #b47825;
    }
}

.char-details {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 5px rgba(0,0,0,0.1);
    p {
        font-family: 'Garamond', serif;
        font-size: 18px;
    }
    button {
        font-size: 15px;
        background-color: black;
        color: white;
        font-weight: bolder;
        cursor: pointer;
    }
}

.char-details button:hover {
    background-color: white;
    color: black;
}

.sorted-list {
    a {
        text-decoration: none;
        color: #4e330c;
    }
}

.sorted-list a:hover {
    color: black;
    text-decoration: underline;
}

@media only screen and (max-width: 760px) {

    .char-container {
        width: 100vw;
        align-items: center;
    }

    .char-card {
        width: 300px;
        margin-top: 0;
    }

    .char-pro {
        margin-top: 0;
        img {
            width: 100px;
            height: 150px;
        } 
        h1 {
            font-size: 16px;
        }
    }

    .char-details {

        p {
            font-size: 13px;
        }
    }
}

@media only screen and (max-width: 393px) {
    .char-container {
        width: 100%;
    }

    .char-card {
        width: 180px;
    }

    .char-pro {
        img {
            width: 70px;
            height: 80px;
        }
        h1 {
            font-size: 12px;
        }
    }

    .char-details {
        p {
            font-size: 10px;
        }
        button {
            font-size: 11px;
        }
    }
}