
.nav-cont {
    padding: 30px 120px 25px 30px;
    font-size: 18px;
    color: #e5e5e5;
    background-color: black;
    z-index: 1;
}   

.nav-right {
    display: flex;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    ul {
        display: flex;
        list-style: none;
        gap: 20px;
        color: #AF7625;
    } a {
        cursor: pointer;
        color: #AF7625;
        display: inline-block;
        margin: 10px 20px;
    }
}

.nav-g:hover {
    color: #740001;
}

.nav-h:hover {
    color: #ecb939;
}

.nav-r:hover {
    color: #222f5b;
}

.nav-s:hover {
    color: #1a472a;
}

.nav-icon {
    display: none;
}

@media only screen and (max-width: 760px) {

    /* .nav-cont {
        width: 100%;
    } */

    .icon-links {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 80px; 
        left: 0;
        width: 100%;
        a {
            font-size: 10px;
            margin-left: 0;
        }
    }
    
    .icon-links.show {
        display: flex;
    }
    
    .icon-icon {
        display: block;
    }

    .nav-icon {
        display: block;
        margin-left: 100px;
    }
}

@media only screen and (max-width: 350px) {

    .icon-links {
        a {
            font-size: 7px;
        }
    }
}