.out-cont {
    width: 100%;
}

.char-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border: solid #d4af37 5px;
    background-color: #1f1f1f;
    img {
        width: 100%;
        height: auto;
        border: 10px;
    }
}

.char {
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 50px;
    img {
        width: 150px;
        height: 200px; 
        object-fit:cover;
        border-radius: 8px;
        border: 1px solid #ddd;
        overflow: hidden;
        border: 3px solid #000000;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        background-color: #fff;
    }
    p {
        color: #c48123;
    } 
}

.char img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
} 

.input-search {
    display: flex;
    justify-content: center;
    border: 0;
    border-radius: 30px 30px 30px 30px;
    padding: 0 10px 0 10px;
    text-align: center;
    color: black;
    height: 25px;
    width: 500px;
    font-size: 25px;
    font-weight: 900;
}

.search-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    img {
        width: 40px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 760px) {

    .char-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
    }
    .char {
        width: 90px;
        padding-top: 10px;
        img {
            width: 70px;
            height: 90px;
        }
        p {
            font-size: 12px;
        }
    }

    .input-search {
        font-size: 15px;
    }

    .search-container {
        img {
            width: 20px;
        }
    }
}