.out-cont {
    width: 100%;
}

.char-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border: solid #d4af37 5px;
    background-color: #1f1f1f;
    img {
        width: 100%;
        height: auto;
        border: 10px;
    }
}

.char {
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 50px;
    img {
        width: 150px;
        height: 200px; 
        object-fit:cover;
        border-radius: 8px;
        border: 1px solid #ddd;
        overflow: hidden;
        border: 3px solid #000000;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        background-color: #fff;
    }
    p {
        color: #b47825;
    } 
}

.char img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
} 


